body {
	margin-top: 60px;
}

.admin-bar .navbar {
	margin-top: 30px;
}


comment-content img, .entry-content img, .widget img {
    max-width: 100%
}

img[class*=align], img[class*=wp-image-] {
    height: auto;
}
img.size-full {
    max-width: 100%;
    width: auto;
}

img.wp-post-image {
    max-width: 100%;
    height: auto;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	background: $blue-dark;
}

.navbar-brand {
	border-radius:60px;
}
