.home {
	background-image:url(../images/dark_wood.png);
	//background-image: url(../images/concrete_seamless.png);

	.main {
		background: #151515;
		padding: 0;
	}
	.navbar {
		margin-bottom: 0;
		//border-bottom: 15px solid rgb(195, 195, 195);
	}

	hr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

	.wrap {
		margin: 0 auto;
		max-width: 2000px;
	}

.carousel.fade {
    opacity: 1;

    .item
    {
        -moz-transition: opacity ease-in-out .7s;
        -o-transition: opacity ease-in-out .7s;
        -webkit-transition: opacity ease-in-out .7s;
        transition: opacity ease-in-out .7s;
        left: 0 !important;
        opacity: 0;
        top:0;
        position:absolute;
        width: 100%;
        display:block !important;
        z-index:1;
        &:first-child{
            top:auto;
            position:relative;
        }

        &.active
        {
            opacity: 1;
            -moz-transition: opacity ease-in-out .7s;
            -o-transition: opacity ease-in-out .7s;
            -webkit-transition: opacity ease-in-out .7s;
            transition: opacity ease-in-out .7s;
            z-index:2;
        }
    }
} // -- .coursel.fade

	.featured {
		margin: 0;
		padding: 3em 0 0 0;
		border-top: 10px solid black;
		background-repeat: no-repeat;
		max-width: 1400px;
		margin: 0 auto;
		background: #202736;

			.col-md-6 {
				padding: 0;
			}
			.bg-img {
				position: relative;
			}
		h1,h2,h3 {
			color: white;
			text-align: center;
			padding-bottom: 1em;
			text-transform: uppercase;
			//font-size: 1.9em;
		}

		h1 {
			font-family: $font-family-serif;
			margin-bottom: 0;
			padding-bottom: 0.5em;
		}
		h2 {
			font-weight: 300;
			margin-bottom: 0;
			padding-bottom: 0.1em;
			color: $brand-primary;
			letter-spacing: 0.05em;
			@media (min-width:$screen-sm){
				font-size: 3em;
				max-width: 700px;
				margin: 0 auto;
				margin-top: 0.4em;

			}
		}

		.type-logo {
			max-width: 550px;
			margin: 0 auto;
		}

		.text p {
			text-align: center;
			font-size: 1.25em;
			@media (min-width:$screen-sm){
				font-size: 1.4em;
			}
			color: white;
			padding: 0px 20px;
			margin: 0 auto;
			max-width: 30em;
			font-weight: 300;
			margin-bottom: 1.5em;

			@media (min-width:$screen-sm){
				margin-top: 1em;
				margin-bottom: 4em;
			}
		}
		hr {
			max-width: 60em;
			margin: 0 auto;
		}

	}

	.projects {
		background-image:url(../images/dark_wood.png);

		@media (min-width:$screen-sm){
		background: white;
		}
		padding-bottom: 3em;

		.f-row {
			margin-top: 2em;
		}
		h3 {
			background: $blue-dark;
			margin: 0;
			padding: 1em 0;
			font-weight: 300;
			letter-spacing: 0.1em;
			text-transform: capitalize;

		}
		>h3 {
			background-image:url(../images/dark_wood.png);
			@media (max-width:$screen-sm){
				color: white;
			}
			@media (min-width:$screen-sm){
				background: white;
				font-size: 3em;
			}

			text-transform: uppercase;
			color: #333333;
			font-weight: 500;
			font-size: 2.2em;
			margin-top: 1.2em;
			margin-bottom: 0.5em;
			padding: 0;
			//background: white;
			@media (min-width:$screen-md){
				margin-top: 2em;

			}
		}

		.text-link {
			text-align: center;
			display: inline-block;
			width: 100%;
			padding: 1em;
			background: $blue-dark;
			color: white;
			font-size: 1.3em;

		}

		.f-home {
			margin-bottom: 1em;
		}
		@media (min-width:$screen-md){
			padding-bottom:8em;

		}

	}

} // - - </.home>
