.blog {
	h1 {
		text-align: center;
		padding-top: 0.3em;

		text-transform: uppercase;
		transition: margin 1s;
		font-weight: 300;
		@media(min-width:$screen-md){
			font-size: 4em;
		}


	}

	h2 {
		background: grey;
		background: $blue-dark;
		margin: 0;
		a{
			color: white;
			padding:0.5em 1em;
			display: inline-block;
			text-align: center;
			width: 100%;
			font-weight: 300;
			letter-spacing: 0.03em;
		}
	}

	article {
		margin-bottom: 2em;
	}
}
