//  --- 4 col bootstrap Footer style ----  //


.content-info {
	background: #f8f8f8;
	margin-bottom: 0;
	border-top: 10px solid #383838;
	font-size: 1.1em;
	background-image:url(../images/dark_wood.png);
	p{
		font-size: 1.1em;
	}

	h3 {
		padding-top: 1.2em;
		letter-spacing: .1em;
		font-weight: 800;
		font-size: 1em;
		text-transform: uppercase;
		padding-bottom: .5em;
		border-bottom: 1px solid #c4c4c4;
		color: #d6d6d6;
	}
	a {
		color: #d6d6d6;
	}

	a:hover {
		text-decoration: underline;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.widget {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		@media (min-width:768px) {
			float: left;
			width: 50%;
		}

		@media (min-width:992px) {
			float: left;
			width: 33.33%;
		}

	}

	padding-bottom: 4em;

} // ---> /.content-info
